.fuel-item .row .col{

  padding: 0px !important;

}

.fuel-item .item-content{
  padding: 20px 12px 20px 12px !important;
}

.fuel-distance{
  background-color: #33cd5f; 
  color: #ffffff; 
  text-align: center; 
  padding: 5px; 
  border-radius: 16px;
}

.fuel-container{

  border: 1px solid #dddddd; 
  padding: 5px !important; 
  background-color: #fafafa; 
  border-radius: 8px; 
  margin-top: 15px !important;

}

.fuel-spec{

  font-size: 14px !important;
  margin-left: 0px;
  overflow: visible !important;

}

.fuel-img{
  
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}

.fuel-gasolina{
  color: #f00 !important;
}

.fuel-etanol{
  color: #070 !important;
}

.fuel-diesel{
  color: #953 !important;
}

.fuel-gnv{
  color: #44e !important;
}

.simple-text{
  color: #999;
  font-size: 12px;
}

.my-search{

  background-color: #efefef;

}

.my-classification{
  
  padding: 5px;
  background-color: #f3f3f3;

}

.my-inform{
  
  margin-top: 35px;
  text-align: center;

}

.my-inform .error, .my-inform .alert{
  color: #bbb;
}

.my-inform .error .icon{
  font-size: 96px;
}

.my-inform .alert .icon{
  font-size: 96px;
  color: rgb(255,208,0);
}

/*#map_content, #map {
  display: block;
  width: 100%;
  height: 100%;
}*/

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.map {
  display: block;
  width: 100%;
  height: 100%;
}

/* Configuração CSS do Toast */
.ionic_toast {
  color: #FFF;
  cursor: default;
  font-size: 1em;
  display: none;
  border-radius: 8px;
  opacity: 1;
  padding: 10px 25px;
  margin: 10px;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.80);
  animation: fadein 1.5s;

}

/* Animação de entrada do Toast */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.ionic_toast_top {
  top: 10px;
}

.ionic_toast_middle {
  top: 40%;
}

.ionic_toast_bottom {
  bottom: 10px;
}

.ionic_toast_close {
  border-radius: 2px;
  color: #CCCCCC;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
}

.toast_close_icon {
  position: relative;
  top: 1px;
}

.ionic_toast_sticky .ionic_toast_close {
  display: block;
}

.ionic_toast_close:active {
  background-color: #555555;
}


/* Configuração do Accordion */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.list .item.item-accordion img{
  width: 100%;
}

.rating {

  font-size: 40px;

}