<div class="my-inform">
    <ion-spinner class="spinner-balanced" icon="dots" ng-show="inform_loading"></ion-spinner>
    <p ng-show="inform_loading">Buscando informações...</p>

    <div class="alert" ng-show="inform_nothing"><i class="icon ion-happy-outline"></i><p>Desculpe-nos, ainda não chegamos na sua cidade. Aguarde novidades!</p></div>
    <div class="error" ng-show="inform_position_error"><i class="icon ion-alert"></i>
    	<p>Não consegui encontrar sua posição.</p>
    	<p>Ligue o <b class="balanced">GPS</b> ou habilite a pesquisa pelo <b class="balanced">WiFi</b>.</p>
    </div>
    <div class="error" ng-show="inform_net_error"><i class="icon ion-alert-circled"></i><p>Sem conexão com a Internet</p></div>
</div>