<ion-modal-view>
	<ion-header-bar class="bar-balanced">
	  <h1 class="title">Filtrar postos por:</h1>
	  <button class="button button-icon icon ion-close-round" ng-click="closeSearch()"></button>
	</ion-header-bar>
	<ion-content>
	  <ion-list>

	      <ion-item class="item-input item-select">
	        
	        <div class="input-label">
	          Combustível
	        </div>
	        <select ng-change="setFuel(fuel_selector)" ng-model="fuel_selector">
	          <option value="common">Comuns (G, E, D, GNV)</option>
	          <option value="diesel">Diesel - D</option>
	          <option value="diesel_s10">Diesel S10 - DS10</option>
	          <option value="ethanol">Etanol - E</option>
	          <option value="gnv">Gás Natural Veicular - GNV</option>
	          <option value="gasoline">Gasolina - G</option>
	          <option value="gasoline_leaded">Gasolina Aditivada - GA</option>
	          <option value="gasoline_premium">Gasolina Premium - GP</option>
	        </select>

	      </ion-item>

	      <ion-item class="item-input item-select">
	        
	        <div class="input-label">
	          Ordem
	        </div>
	        <select ng-change="setSort(sort_selector)" ng-model="sort_selector">
	          <option value="distance">Distância</option>
	          <option value="priceDiesel" ng-if="temp_fuel == 'common' || temp_fuel == 'diesel'">Preço do Diesel</option>
	          <option value="priceDieselS10" ng-if="temp_fuel == 'diesel_s10'">Preço do Diesel S10</option>
	          <option value="priceEthanol" ng-if="temp_fuel == 'common' || temp_fuel == 'ethanol'">Preço do Etanol</option>
	          <option value="priceNaturalGas" ng-if="temp_fuel == 'common' || temp_fuel == 'gnv'">Preço do GNV</option>
	          <option value="priceGasoline" ng-if="temp_fuel == 'common' || temp_fuel == 'gasoline'">Preço da Gasolina</option>
	          <option value="priceGasolineLeaded" ng-if="temp_fuel == 'gasoline_leaded'">Preço da Gasolina Aditivada</option>
	          <option value="priceGasolinePremium" ng-if="temp_fuel == 'gasoline_premium'">Preço da Gasolina Premium</option>
	          <option value="name">Posto (Nome)</option>
	          <option value="flag_fk">Bandeira (Agrupar)</option>
	          <option value="-classification">Classificação</option>
	        </select>

	      </ion-item>

	      <ion-item class="item-input item-select">
	        
	        <div class="input-label">
	          Pagamento
	        </div>
	        <select ng-change="setPayment(payment_selector)" ng-model="payment_selector">
	          <option value="0">Todos</option>
	          <option value="{{item.id}}" ng-repeat="item in payments">{{item.name}}</option>
	        </select>

	      </ion-item>

	      <!--<label class="item item-input">
		    <input type="text" placeholder="Cidade, endereço... (Opcional)">
		  </label>-->

      </ion-list>

	  <div class="button-bar padding">
	  	<a class="button button-balanced" ng-click="setSearch()">OK</a>
	  	<a class="button button-balanced" ng-click="closeSearch()">Cancelar</a>
	  </div>

	</ion-content>
</ion-modal-view>
