<ion-tabs class="tabs-icon-top tabs-balanced">

  <!-- Postos -->
  <ion-tab title="Postos" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/stations">
    <ion-nav-view name="tab-stations"></ion-nav-view>
  </ion-tab>

  <!-- Estabelecimentos -->
  <!--<ion-tab title="Consertos" icon-off="ion-wrench" icon-on="ion-wrench" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>-->

  <!-- Mapa -->
  <ion-tab title="Mapa" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

</ion-tabs>
