<section class="content-header">
  <h1>
    Empresa
    <small>Cadastro/Edição</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#/enterprises">Empresas</a></li>
    <li class="active">Cadastro</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title"><b>Cadastro</b></h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="form" novalidate ng-submit="sendForm(enterprise)" class="css-form">
          <div class="box-body">

            <div class="form-group">
              <label>Nome <span class="required">*</span></label>
              <input type="text" class="form-control" ng-model="enterprise.name" maxlength="64" required autofocus>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" checked="checked" ng-model="enterprise.active"> Empresa ativa?
              </label>
            </div>

            <div class="form-group">
              <label>Descrição</label>
              <input type="text" class="form-control" ng-model="enterprise.description" maxlength="64">
            </div>

            <div class="form-group">
              <label>Detalhes</label>
              <textarea class="form-control" rows="3" ng-model="enterprise.details"></textarea>
            </div>

            <div class="form-group">
              <label>Inscrição</label>
              <input type="text" class="form-control" ng-model="enterprise.inscription" maxlength="64">
            </div>

            <div class="form-group">
              <label>Bandeira <span class="required">*</span></label>
              <select  class="form-control" ng-options="flag.id as flag.name for flag in flags | orderBy:'name'" ng-model="enterprise.flag_fk" required>
              <option value="">---</option>
              </select>
            </div>

            <div class="form-group">
              <label>E-mail</label>
              <input type="email" class="form-control" ng-model="enterprise.email" maxlength="64" name="email">
              <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Digite um e-mail válido.</p>
            </div>

            <div class="form-group">
              <label>Telefone</label>
              <input type="tel" class="form-control" ng-model="enterprise.phone" maxlength="16" mask="(99) 9999-9999">
            </div>

            <div class="form-group">
              <label>Site</label>
              <input type="url" class="form-control" ng-model="enterprise.url" maxlength="64" name="url">
              <p ng-show="form.url.$invalid && !form.url.$pristine" class="help-block">Digite uma URL válida.</p>
            </div>

            <div class="form-group">
              <label>Página do Facebook</label>
              <input type="url" class="form-control" ng-model="enterprise.facebook_url" maxlength="128" name="facebook_url">
              <p ng-show="form.facebook_url.$invalid && !form.facebook_url.$pristine" class="help-block">Digite uma URL válida.</p>
            </div>

            <!--<div class="form-group">
              <label>Créditos disponíveis</label>
              <input type="text" class="form-control" ng-model="enterprise.credit" maxlength="64" disabled="disabled">
            </div>-->
            
            <div ng-show="enterprise.id">
              <div class="btn btn-success" ngf-select ng-model="files">Selecionar imagem</div><br><br>
              <img ngf-src="files[0]" ngf-default-src="" ng-src="upload/enterprise/{{enterprise.img}}" ngf-accept="'image/*'" width="256">
            </div>
            
            <br>
            <h4><b>Endereço</b></h4>

            <!-- Endereço -->
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Código Postal</label>
                  <input type="text" class="form-control" ng-model="enterprise.postal" maxlength="16">
                </div>
              </div>
              <div class="col-xs-8">
                <div class="form-group">
                  <label>Logradouro <span class="required">*</span></label>
                  <input type="text" class="form-control" ng-model="enterprise.street" maxlength="128" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Número <span class="required">*</span></label>
                  <input type="text" class="form-control" ng-model="enterprise.number" maxlength="10" required>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Complemento</label>
                  <input type="text" class="form-control" ng-model="enterprise.complement" maxlength="16">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>País <span class="required">*</span></label>
                  <input type="text" class="form-control" ng-model="enterprise.country" maxlength="32" required>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Estado/Região/Província</label>
                  <input type="text" class="form-control" ng-model="enterprise.state" maxlength="32">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Cidade <span class="required">*</span></label>
                  <input type="text" class="form-control" ng-model="enterprise.city" maxlength="64" ng-blur="getCoordinates(enterprise)" required>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Bairro</label>
                  <input type="text" class="form-control" ng-model="enterprise.district" maxlength="32">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Horário de Abertura</label>
                  <input type="text" class="form-control" ng-model="enterprise.time_initial" maxlength="5" mask='99:99'>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Horário de Fechamento</label>
                  <input type="text" class="form-control" ng-model="enterprise.time_final" maxlength="5" mask='99:99'>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="enterprise.latitude" maxlength="20" placeholder="Latitude">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="enterprise.longitude" maxlength="20" placeholder="Longitude">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-success" ng-click="getCoordinates(enterprise)">Buscar Coordenadas</button>
                  </span>   
                </div>
              </div>
            </div>
            
            <br>
            <h4><b>Combustíveis</b></h4>

            <!-- Combustíveis -->
            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasGasoline"> Vende Gasolina?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceGasoline" maxlength="64"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasGasoline">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasGasolineLeaded"> Vende Gasolina Aditivada?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceGasolineLeaded" maxlength="64"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasGasolineLeaded">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasGasolinePremium"> Vende Gasolina Premium?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceGasolinePremium" maxlength="64"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasGasolinePremium">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasEthanol"> Vende Etanol?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceEthanol" maxlength="64"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasEthanol">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasDiesel"> Vende Diesel?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceDiesel" maxlength="64"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasDiesel">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasDieselS10"> Vende Diesel S10?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceDieselS10" maxlength="64"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasDieselS10">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasNaturalGas"> Vende Gás Natural Veicular?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceNaturalGas" maxlength="64"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasNaturalGas">
                </div>
              </div>
            </div>

          </div><!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Salvar</button>
          </div>

        </form>
      </div><!-- /.box -->

    </div><!--/.col (left) -->

  </div>   <!-- /.row -->
</section><!-- /.content -->

<!-- Listagem de Formas de Pagamento -->

<section  ng-show="enterprise.id">

  <section class="content-header">
    <h1>
      Formas de Pagamento
      <small>Marque as formas de pagamento disponíveis nesse estabelecimento</small>
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box">
          <div class="box-header">
          
            <div class="form-group">
              <input type="text" class="form-control" ng-model="search"  placeholder="Pesquisar formas de pagamento...">
            </div>

          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-striped data_table">
              <thead>
                <tr>
                  <th>Marcar</th>
                  <th>Logotipo</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td colspan="2" ng-show="loading">Carregando dados...</td>
                </tr>

                <tr class="table-line" ng-repeat="payment in payments_list | filter: search">
                  <td>
                    <input type="checkbox" ng-click="sync(bool, payment)" ng-model="bool" ng-checked="isChecked(payment.id)">
                  </td>
                  <td><img ng-src="upload/payment/{{payment.img}}" width="32"></td>
                  <td>{{payment.name}}</td>
                </tr>
                
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div><!-- /.col -->
    </div><!-- /.row -->
  </section>

</section>

<!-- Cadastro de serviços -->
<section ng-show="enterprise.id">

  <section class="content-header">
    <h1>
      Serviços
      <small>Cadastro de serviços específicos da empresa</small>
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <!-- form start -->
          <form role="form" name="form2" novalidate ng-submit="sendService(service)" class="css-form">
            <div class="box-body">

              <div class="form-group">
                <label>Nome <span class="required">*</span></label>
                <input type="text" class="form-control" ng-model="service.name" maxlength="64" placeholder="Calibragem de pneu, Conveniência, Lavagem de Veículos, etc..." required>
              </div>

              <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control" rows="3" ng-model="service.description"></textarea>
              </div>

              <div ng-show="service.id">
                <div class="btn btn-success" ngf-select ng-model="files2">Selecionar imagem</div><br><br>
                <img ngf-src="files2[0]" ngf-default-src="" ng-src="upload/service/{{service.img}}" ngf-accept="'image/*'" width="256">
                <p>OBS: A imagem não pode ser baixada de fontes como o Google, etc... Envia suas próprias imagens.</p>
              </div>

            </div><!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-success" ng-disabled="form2.$invalid">Salvar</button>
            </div>
          </form>
        </div><!-- /.box -->

      </div><!--/.col (left) -->

    </div>   <!-- /.row -->
  </section>

  <!-- Listagem de Serviços -->

  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box">
          <div class="box-header">
          
            <div class="form-group">
              <input type="text" class="form-control" ng-model="search"  placeholder="Pesquisar serviços...">
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-striped data_table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td colspan="5" ng-show="loading">Carregando dados...</td>
                </tr>

                <tr class="table-line" ng-repeat="item in services | filter: search">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td align="center"><i class="fa fa-pencil-square-o my-button button-edit" ng-click="editService(item)"></i></td>
                  <td align="center"><i class="fa fa-trash my-button button-delete" ng-click="deleteService(item.id)"></i></td>
                </tr>
                
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div><!-- /.col -->
    </div><!-- /.row -->
  </section>

</section>