<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Empresas
    <small>Listagem</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#/enterprises">Empresas</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
        
          <div class="input-group input-group-sm">
            <span class="input-group-btn">

              <button class="btn btn-success btn-flat" type="button" ng-click="new()"><b>+</b> Novo</button>
            </span>
            <input type="text" class="form-control" ng-model="description">
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat" type="button" ng-click="search(10, 0, description)">Pesquisar</button>
            </span>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered table-striped data_table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td colspan="5" ng-show="loading">Carregando dados...</td>
              </tr>

              <tr class="table-line" ng-repeat="enterprise in enterprises">
                <td>{{enterprise.id}}</td>
                <td>{{enterprise.name}}</td>
                <td>{{enterprise.address}}</td>
                <td align="center"><button ng-click="edit(enterprise.id)"><i class="fa fa-pencil-square-o my-button button-edit"></i></button></td>
                <td align="center"><button ng-click="delete(enterprise.id)"><i class="fa fa-trash my-button button-delete"></i></button></td>
              </tr>
              
            </tbody>
            <tfoot>
              <tr align="center">
                <th colspan="5">
                  <!-- Cria a barra de paginação -->
                  <button class="btn btn-default" ng-click="goToPage('previous')" ng-disabled="!(actual > 1)">Anterior</button>
                  <button class="btn btn-default" ng-show="actual > 1"  ng-click="goToPage('first')">1</button>
                  <span  ng-show="actual > 2">...</span>
                  <button class="btn btn-info">{{actual}}</button>
                  <button class="btn btn-default" ng-show="pages > 1 && (actual < last)" ng-click="goToPage('next')">{{second}}</button>
                  <span  ng-show="pages > 1 && (actual < last)">...</span>
                  <button class="btn btn-default" ng-show="pages > 1 && (actual < last)"  ng-click="goToPage('last')">{{last}}</button>
                  <button class="btn btn-default" ng-click="goToPage('next')" ng-disabled="(actual >= last)">Próximo</button>
                </th>
              </tr>
            </tfoot>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->