<section class="content-header">
  <h1>
    Bandeira
    <small>Cadastro/Edição</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#/flags">Bandeiras</a></li>
    <li class="active">Cadastro</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Cadastro</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="form" novalidate ng-submit="sendForm(flag)" class="css-form">
          
          <div class="box-body">
            
            <div class="form-group">
              <label>Nome <span class="required">*</span></label>
              <input type="text" class="form-control" ng-model="flag.name" maxlength="64" required autofocus>
            </div>

            <div class="form-group">
              <label>Nome na ANP</label>
              <input type="text" class="form-control" ng-model="flag.name_anp" maxlength="64" autofocus>
            </div>

            <div class="form-group">
              <label>Descrição</label>
              <textarea class="form-control" rows="3" ng-model="flag.description"></textarea>
            </div>

            <div ng-show="flag.id">
              <div class="btn btn-success" ngf-select ng-model="files">Selecionar imagem</div><br><br>
              <img ngf-src="files[0]" ngf-default-src="" ng-src="upload/flag/{{flag.img}}" ngf-accept="'image/*'" width="64">
            </div>
            
          </div><!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid  || saving">Salvar</button>
          </div>
        </form>
      </div><!-- /.box -->

    </div><!--/.col (left) -->

  </div>   <!-- /.row -->
</section><!-- /.content -->