<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Painel Administrativo
    <small>Versão 0.0.1</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Início</a></li>
    <li class="active">Admin</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	<!-- Info boxes -->
	  <div class="row">
	    <div class="col-md-4 col-sm-6 col-xs-12">
	      <div class="info-box">
	        <span class="info-box-icon bg-aqua"><i class="ion ion-model-s"></i></span>
	        <div class="info-box-content">
	          <span class="info-box-text">Postos Ativos</span>
	          <span class="info-box-number">{{intern_user.stations_number}}</span>
	        </div><!-- /.info-box-content -->
	      </div><!-- /.info-box -->
	    </div><!-- /.col -->
	    <div class="col-md-4 col-sm-6 col-xs-12">
	      <div class="info-box">
	        <span class="info-box-icon bg-red"><i class="ion ion-ios-keypad"></i></span>
	        <div class="info-box-content">
	          <span class="info-box-text">Dispositivos</span>
	          <span class="info-box-number">{{intern_user.devices_number}}</span>
	        </div><!-- /.info-box-content -->
	      </div><!-- /.info-box -->
	    </div><!-- /.col -->

	    <!-- fix for small devices only -->
	    <div class="clearfix visible-sm-block"></div>

	    <div class="col-md-4 col-sm-6 col-xs-12">
	      <div class="info-box">
	        <span class="info-box-icon bg-green"><i class="ion ion-heart"></i></span>
	        <div class="info-box-content">
	          <span class="info-box-text">Comentários</span>
	          <span class="info-box-number">{{intern_user.comments_number}}</span>
	        </div><!-- /.info-box-content -->
	      </div><!-- /.info-box -->
	    </div><!-- /.col -->
	    
	  </div><!-- /.row -->

	  <div>
	  	<h2>Últimos logs</h2>
	  	<p ng-repeat="log in intern_user.logs" style="padding: 8px; background-color: #fff; margin-bottom: 2px;
	  	padding-left: 10px;">
	  		<a href="#/{{log.table_name}}/{{log.table_id}}">
	  		{{log.updated_at}} - {{log.description}} por {{log.person_name}}</a>
	  	</p>
	  </div>

</section><!-- /.content -->