<section class="content-header">
  <h1>
    Usuário
    <small>Cadastro/Edição</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#/users">Usuários</a></li>
    <li class="active">Cadastro</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Cadastro</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="form" novalidate ng-submit="sendForm(user)" class="css-form">
          <div class="box-body">
            <div class="form-group">
              <label>Nome <span class="required">*</span></label>
              <input type="text" class="form-control" ng-model="user.name" maxlength="64" required autofocus>
            </div>
            <div class="form-group">
              <label>Sobrenome</label>
              <input type="text" class="form-control" ng-model="user.last_name" maxlength="64">
            </div>
            <div class="form-group">
              <label>E-mail <span class="required">*</span></label>
              <input type="email" class="form-control" ng-model="user.email" name="email" maxlength="64" required>
              <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Digite um e-mail válido.</p>
            </div>
            <div ng-show="user.id">
              <div class="btn btn-success" ngf-select ng-model="files">Selecionar imagem</div><br><br>
              <img ngf-src="files[0]" ngf-default-src="" ng-src="upload/user/{{user.img}}" ngf-accept="'image/*'" width="128">
            </div>
            <div class="form-group">
              <label>Tipo <span class="required">*</span></label>
              <select  class="form-control" ng-model="user.type" required>
                <option value="">---</option>
                <option value="ADMIN">Administrador</option>
                <option value="EDITOR">Editor - Pode alterar dados do posto</option>
                <option value="EDITOR_JUNIOR">Editor Júnior - Altera apenas preços</option>
                <option value="USER">Usuário</option>
              </select>
            </div>
            <div class="form-group">
              <label>Senha <span class="required" ng-show="!user.id">*</span></label>
              <input type="password" class="form-control" ng-model="user.password" maxlength="20" ng-required="!user.id">
            </div>
            <div class="form-group" >
              <label>Redigite a Senha <span class="required" ng-show="!user.id">*</span></label>
              <input type="password" class="form-control" ng-model="user.re_password" maxlength="20" ng-required="!user.id">
            </div>
            
            <div class="checkbox">
              <label>
                <input type="checkbox" checked="checked" ng-model="user.active"> Ativo?
              </label>
            </div>
          </div><!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid  || saving">Salvar</button>
          </div>
        </form>
      </div><!-- /.box -->

    </div><!--/.col (left) -->

  </div>   <!-- /.row -->
</section><!-- /.content -->

<section  ng-show="user.id">

  <section class="content-header">
    <h1>
      <small>Empresas vinculadas ao usuário</small>
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box box-success">
          <div class="box-header">
            
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" ng-model="link.id">
              <span class="input-group-btn">
                <button class="btn btn-success btn-flat" ng-disabled="saving" type="button" 
                ng-click="linkOrUnlink(user.id, link.id,'link')"><b>+</b> Vincular</button>
              </span>
            </div>

            <br>

            <div class="form-group">
              <input type="text" class="form-control" ng-model="search"  placeholder="Pesquisar empresas...">
            </div>

          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-striped data_table">
              <thead>
                <tr>
                  <th>Nome do Posto</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td colspan="2" ng-show="loading">Carregando dados...</td>
                </tr>

                <tr class="table-line" ng-repeat="enterprise in user.enterprises | filter: search">
                  <td>{{enterprise.name}}</td>
                  <td align="center"><button ng-click="linkOrUnlink(user.id, enterprise.id,'unlink')"><i class="fa fa-trash my-button button-delete"></i></button></td>
                </tr>
                
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="box-footer">
      <button type="submit" class="btn btn-success" ng-click="sendForm(user)">Salvar</button>
    </div>

  </section>

</section>