.css-form input.ng-invalid.ng-touched {
	border-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
	border-color: #78FA89;
}

.my-button{
	cursor: pointer;
}

.button-edit{
	color: #007700;
}

.button-delete{
	color: #FA787E;
}

.table-line:hover{
	background-color: #f3f3f3 !important;
}

.required{
	color: #ff0000;
	font-weight: bold;
}

.help-block{
	color: #ff0000;
}

.no-margin{
	background-color: #eeeeee;
}

.icon-gray{
	color: #ddd;
}

.menu-header:hover{
	color: #070;
	background-color: #eee;
}

.fuel-gasolina{
  color: #faa !important;
}

.fuel-etanol{
  color: #7f7 !important;
}

.fuel-diesel{
  color: #fb7 !important;
}

.fuel-gnv{
  color: #bbf !important;
}

.input-fuel{
	font-weight: bold;
	font-size: 18px;
	height: 40px;
}

.input-gasolina{
  color: #f55 !important;
}

.input-etanol{
  color: #3a3 !important;
}

.input-diesel{
  color: #a53 !important;
}

.input-gnv{
  color: #33a !important;
}

.home-link{

	color: #fff;

}

.home-link:hover{
	color: #efe;
}

.comment-image{

	border-radius: none !important;
	width: 64px !important;
	height: 15px !important;
	border: none !important;
	border-radius: 0% !important;

}

.comment-message{

	margin-left: 75px !important;
	margin-top: -15px !important;

}