<ion-view view-title="{{station_view_name}}">
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-close" ng-click="closeDetail()"></button>
  </ion-nav-buttons>
  <ion-content>

	<div class="list card" ng-show="station">

	  <div class="item item-avatar">
	    <img ng-src="{{url_base}}/mydash/upload/flag/{{station.flag_img}}">
	    <h2><b class="balanced">{{station.distance | number: 2}} Km</b> - {{::station.name}}</h2>
	    <img ng-src="img/{{station.classification_image}}" height="10"> 
	    <span class="simple-text">{{station.opinions}}</span>
	    <p style="white-space: normal">{{::station.address}}</p>
	    <p>{{::station.phone}}</p>
	  </div>

	  <div class="button-bar padding">
	  	<a class="button button-small button-clear button-dark icon-left ion-location" ng-click="openMap()">Como chegar</a>
	  	<a ng-if="station.phone" class="button button-small button-clear button-dark icon-left ion-ios-telephone" ng-click="call(station.phone)">Chamar</a>
	  	<!--<a class="button button-small button-clear button-dark icon-left ion-chatbox-working">Mensagem</a>-->
	  </div>

	  <div class="item item-body">
	    <img class="full-image" ng-if="station.img" ng-src="{{url_base}}/mydash/upload/enterprise/{{station.img}}">
	    <p>{{::station.description}}</p>
	    <p ng-if="station.operation">{{::station.operation}}</p>

	    <div ng-if="!station.my_comment" ng-click="openClassify('classify')">
	    	<center>
	    		<p><b>Classifique este Posto</b></p>
	    		<img src="img/stars_gray.png" height="25">
	    	</center>
		</div>

		<div class="my-classification" ng-if="station.my_comment">
			<center ng-click="openClassify('edit')">
			<p><b>Sua Classificação</b></p>
			<img ng-src="img/stars{{station.my_comment.classification}}.png">
			<p>{{station.my_comment.text}}</p>
			</center>
			<button class="button button-clear button-assertive" ng-click="deleteRating()"
			ng-disabled="isDeleting">Deletar</button>
		</div>

	    <p>
	      <a class="subdued" ng-click="openClassify('comments')">{{station.comments_number}} Comentário(s)</a>
	    </p>
	  </div>
	  
	  <div class="item item-divider" ng-if="station.payments.length > 0">
      	<b>Condições de Pagamento</b>
      </div>

      <div class="item item-icon-right" ng-if="station.payments.length > 0">
	    <img ng-repeat="item in station.payments track by $index" ng-src="{{url_base}}/mydash/upload/payment/{{item.img}}" height="30">
	  </div>

      <div class="item item-icon-right item-divider">
      	<b>Combustíveis</b>
      	<span class="item-note" ng-if="station.update_diff > 0">
	      Alterado à {{station.update_diff}} dia(s)
	    </span>
	    <span class="item-note" ng-if="station.update_diff == 0">
	      Alterado Hoje
	    </span>
      </div>

      <div class="item item-icon-right" ng-if="station.hasGasoline">
	    Gasolina
	    <span class="item-note fuel-gasolina">
	      <b>R$ {{station.priceGasoline | number : 3 }}</b>
	    </span>
	  </div>

	  <div class="item item-icon-right" ng-if="station.hasGasolineLeaded">
	    Gasolina Aditivada
	    <span class="item-note fuel-gasolina">
	      <b>R$ {{station.priceGasolineLeaded | number : 3 }}</b>
	    </span>
	  </div>

	  <div class="item item-icon-right" ng-if="station.hasGasolineLeaded">
	    Gasolina Premium
	    <span class="item-note fuel-gasolina">
	      <b>R$ {{station.priceGasolinePremium | number : 3 }}</b>
	    </span>
	  </div>

	  <div class="item item-icon-right" ng-if="station.hasEthanol">
	    Etanol
	    <span class="item-note fuel-etanol">
	      <b>R$ {{station.priceEthanol | number : 3 }}</b>
	    </span>
	  </div>

	  <div class="item item-icon-right" ng-if="station.hasDiesel">
	    Diesel
	    <span class="item-note fuel-diesel">
	      <b>R$ {{station.priceDiesel | number : 3 }}</b>
	    </span>
	  </div>

	  <div class="item item-icon-right" ng-if="station.hasDieselS10">
	    Diesel S10
	    <span class="item-note fuel-diesel">
	      <b>R$ {{station.priceDieselS10 | number : 3 }}</b>
	    </span>
	  </div>

	  <div class="item item-icon-right" ng-if="station.hasNatiralGas">
	    Gás Natural Veicular
	    <span class="item-note fuel-gnv">
	      <b>R$ {{station.priceNaturalGas| number : 3 }}</b>
	    </span>
	  </div>

	  <div class="item item-divider" ng-if="station.services.length > 0">
      	<b>Serviços e Espaço</b>
      </div>
	  
	  <!-- Cria o Accordion com os serviços do estabelecimento -->
  	  <div ng-repeat="item in station.services | orderBy : name track by $index">
	      <ion-item class="item-stable" ng-click="toggleItem(item)" ng-class="{active: isItemShown(item)}">
	        
	        <i class="icon balanced" ng-class="isItemShown(item) ? 'ion-minus' : 'ion-plus'">
		        <span class="balanced">
			      Detalhes
			    </span>
		    </i>

	        &nbsp;
	        {{::item.name}}
	        
	      </ion-item>

	      <ion-item class="item-body item-accordion" ng-show="isItemShown(item)">
	        <h2><b>{{::item.name}}</b></h2>
	        <p>{{::item.description}}</p>
	        <img ng-if="item.img" ng-src="{{url_base}}/mydash/upload/service/{{::item.img}}">
	      </ion-item>

	  </div>

	</div>
	
	<!-- Espaços pra prevenir um problema comum, que é quando a parte inferior da tela fica escondida -->
	<br><br><br>

  </ion-content>
</ion-view>
