<ion-modal-view cache-view="false">
	<ion-header-bar class="bar-balanced">
	  <h1 class="title">{{class_view_name}}</h1>
	  <button class="button button-icon icon ion-close-round" ng-click="closeClassify()"></button>
	</ion-header-bar>
	<ion-content class="padding">
	  
	  <div ng-show="!showComments">
		
		<!-- Não existe usuário, preciso criar uma conta -->
		<div ng-if="!local_user">

		  <div class="button-bar padding">
		  	<a class="button" ng-class="{'button-balanced': !create}" ng-click="create = false">Já sou Cadastrado</a>
		  	<a class="button" ng-class="{'button-balanced': create}" ng-click="create = true">Criar Conta</a>
		  </div>

		  <ion-list class="list-inset">
			  
		      <label class="item item-input item-stacked-label" ng-show="create">
		      	<span class="input-label">Nome</span>
			    <input type="text" placeholder="Ex. Tiago Costa" ng-model="user.name">
			  </label>

			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">E-mail</span>
			    <input type="email" placeholder="Ex. tiagocosta@email.com" ng-model="user.email">
			  </label>

			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Senha</span>
			    <input type="password" placeholder="Senha" ng-model="user.password">
			  </label>

			  <label class="item item-input item-stacked-label" ng-show="create">
			  	<span class="input-label">
			  		Confirmar Senha <span class="simple-text" style="color: #f00" ng-show="user.re_password.length > 0 && (user.password != user.re_password)">As senhas não conferem!</span>
			  	</span>
			    <input type="password" placeholder="Senha" ng-model="user.re_password">
			  </label>

			  <label class="item item-body item-checkbox checkbox-energized" ng-show="create">
			  	<label class="checkbox">
			    	<input type="checkbox" checked="checked" ng-model="user.can_send_email">
			    </label>
			    Gostaria de receber novidades sobre aplicativos úteis.
			  </label>

	      </ion-list>

		  <div class="button-bar padding">
		  	<a class="button button-balanced" ng-click="sendUser(create, user)">{{ (create) ? 'Criar Conta' : 'Entrar' }}</a>
		  </div>

	 	</div>
		
		<!-- Existe usuário, posso votar e comentar -->
	 	<div ng-if="local_user">
			
			<p><span class="balanced">{{local_user.name}}</span> (<i>{{local_user.email}}</i>)</p>
			<ion-list>

				<ion-item class="item item-input item-stacked-label">
					<span class="input-label">Sua Nota</span>
					<ionic-ratings class="rating" ratingsobj='ratingsObject'></ionic-ratings>
				</ion-item>

				<label class="item item-input item-stacked-label">
				  	<span class="input-label">Seu Comentário</span>
				    <textarea ng-model="classify.comment" rows="10"></textarea>
				</label>

				<ion-item class="item-body">
					<span class="simple-text">Pode ser necessário atualizar a lista de postos para que você veja sua nota contabilizada.</span>
				</ion-item>

			</ion-list>

			<div class="button-bar padding">
		  		<a class="button button-balanced" ng-click="sendRating(classify)">Enviar</a>
		  	</div>

	 	</div>

	 </div>

	 <div ng-show="showComments">

	 	<ion-list>

			<div ng-repeat="item in station.comments | orderBy : '-updated_at'">

		      <ion-item class="item-body">
		        <h2><b>{{::item.name}}</b> <span class="simple-text">em {{item.updated_at}}</span></h2>
		        <img ng-src="img/stars{{::item.classification}}.png">
		        <p>{{::item.text}}</p>
		      </ion-item>

		  	</div>

	 	</ion-list>

	 </div>

	</ion-content>
</ion-modal-view>
