<ion-view view-title="Como chegar">

<ion-nav-buttons side="right">
<button class="button button-icon icon ion-close" ng-click="closeMap()"></button>
</ion-nav-buttons>

  <ion-content>
     <map on-create="mapCreated(map)"></map>
  </ion-content>

</ion-view>