<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7rPUi1XEP-0T-P7Eb2Poq-mQ6CEFgaoQ&sensor=true"></script>
<ion-view view-title="Postos">
  <ion-nav-title>
    <img src="img/logo_text.png" height="18">
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-refresh" ng-click="resetStations()"></button>
    <button class="button button-icon icon ion-android-more-vertical" ng-click="openSearch()"></button>
  </ion-nav-buttons>
  
  <ion-content>

    <ion-refresher
      pulling-text="Carregando postos..."
      on-refresh="resetStations()">
    </ion-refresher>

    <ion-list>
      
      <ion-item class="my-search" ng-click="openSearch()">
        
        <p style="white-space: normal">Combustível <b>{{fuel_description}}</b> ordenado(s) por <b>{{sort_description}}</b>, e forma(s) de pagamento <b>{{payment_description}}</b></p>

      </ion-item>

      <ion-item class="fuel-item item-remove-animate" ng-repeat="station in filtered_stations | orderBy: sort track by station.id" 
      type="item-text-wrap" href="#/station/{{station.id}}/{{station.distance | number : 2}}/{{station.name}}">
        
        <img ng-src="{{url_base}}/mydash/upload/flag/{{station.flag_img}}" class="fuel-img">
        
        <div style="float: right"><img ng-repeat="item in station.payments track by $index" ng-src="{{url_base}}/mydash/upload/payment/{{item.img}}" height="25"></div>
        
        <h2 style="margin-top: 15px;"><b class="padding-right fuel-distance">{{station.distance | number : 2}} Km</b> {{station.name}}</h2>
        <img ng-src="img/{{station.classification_image}}" height="10">
        
        <p>{{station.address}}</p>

        <div class="row fuel-container">
          <div class="col" ng-if="fuel == 'common' || fuel == 'gasoline'"><b><p class="fuel-spec fuel-gasolina">G: {{station.priceGasoline}}</p></b></div>
          <div class="col" ng-if="fuel == 'gasoline_leaded'"><b><p class="fuel-spec fuel-gasolina">GA: {{station.priceGasolineLeaded}}</p></b></div>
          <div class="col" ng-if="fuel == 'gasoline_premium'"><b><p class="fuel-spec fuel-gasolina">GP: {{station.priceGasolinePremium}}</p></b></div>
          <div class="col" ng-if="fuel == 'common' || fuel == 'ethanol'"><b><p class="fuel-spec fuel-etanol">E: {{station.priceEthanol}}</p></b></div>
          <div class="col" ng-if="fuel == 'common' || fuel == 'diesel'"><b><p class="fuel-spec fuel-diesel">D: {{station.priceDiesel}}</p></b></div>
          <div class="col" ng-if="fuel == 'diesel_s10'"><b><p class="fuel-spec fuel-diesel">DS10: {{station.priceDieselS10}}</p></div>
          <div class="col" ng-if="fuel == 'common' || fuel == 'gnv'"><b><p class="fuel-spec fuel-gnv">GNV: {{station.priceNaturalGas}}</p></b></div>
        </div>
      </ion-item>
    </ion-list>
    
    <div class="my-inform" ng-show="!inform_error && filtered_stations.length <= 0">
      <div class="alert"><i class="icon ion-alert"></i><p>Não encontrei resultados com esse filtro.</p></div>
    </div>

    <!-- Tratamento de erros -->
    <div ng-include="'templates/inform.html'">

  </ion-content>
</ion-view>
