<ion-view view-title="Mapa">
  <ion-nav-title>
    <img src="img/logo_text.png" height="18">
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-refresh" ng-click="resetStations()"></button>
  </ion-nav-buttons>
  <ion-content>
    <map ng-show="!inform_error" data-tap-disabled="true" on-create="mapCreated(map)"></map>
    <!-- Tratamento de erros -->
    <div ng-include="'templates/inform.html'">
  </ion-content>
</ion-view>
