.css-form input.ng-invalid.ng-touched {
	border-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
	border-color: #78FA89;
}

.my-button{
	cursor: pointer;
}

.button-edit{
	color: #007700;
}

.button-delete{
	color: #FA787E;
}

.table-line:hover{
	background-color: #f3f3f3 !important;
}

.required{
	color: #ff0000;
	font-weight: bold;
}

.help-block{
	color: #ff0000;
}

.no-margin{
	background-color: #eeeeee;
}