<section class="content">
  <div class="box box-success">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <i class="fa fa-comments-o"></i>
      <h3 class="box-title">Comentários</h3>
    </div>
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><div class="box-body chat" id="chat-box" style="overflow: hidden; width: auto; height: 250px;">
      <!-- chat item -->
      <div class="item" ng-repeat="comment in comments">
        <img src="images/stars{{comment.classification}}.png" alt="Classificação" class="comment-image">
        <p class="message comment-message">
          <a class="name">
            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{comment.updated_at}}</small>
            {{comment.name}}
          </a>
          {{comment.text}}
        </p>
      </div><!-- /.item -->
    </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 184.911px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
  </div>
</section>