<section class="content-header">
  <h1>
    {{enterprise.name}}
    <small>Modifique aqui as características do seu Posto!</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a>{{enterprise.name}}</a></li>
    <li class="active">Cadastro</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title"><b>Cadastro</b></h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="form" novalidate ng-submit="sendForm(enterprise)" class="css-form">
          <div class="box-body">

            <div class="form-group">
              <label>Nome <span class="required">*</span></label>
              <input type="text" class="form-control" ng-model="enterprise.name" maxlength="64" required autofocus>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" checked="checked" ng-model="enterprise.active"> Empresa ativa?
              </label>
            </div>

            <div class="form-group">
              <label>Descrição</label>
              <input type="text" class="form-control" ng-model="enterprise.description" maxlength="64">
            </div>

            <div class="form-group">
              <label>Inscrição</label>
              <input type="text" class="form-control" ng-model="enterprise.inscription" maxlength="64">
            </div>

            <div class="form-group">
              <label>Bandeira <span class="required">*</span></label>
              <select  class="form-control" ng-options="flag.id as flag.name for flag in flags | orderBy:'name'" ng-model="enterprise.flag_fk" required>
              <option value="">---</option>
              </select>
            </div>

            <div class="form-group">
              <label>E-mail</label>
              <input type="email" class="form-control" ng-model="enterprise.email" maxlength="64" name="email">
              <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Digite um e-mail válido.</p>
            </div>

            <div class="form-group">
              <label>Telefone</label>
              <input type="tel" class="form-control" ng-model="enterprise.phone" maxlength="16" mask="(99) 9999-9999">
            </div>

            <div class="form-group">
              <label>Site</label>
              <input type="url" class="form-control" ng-model="enterprise.url" maxlength="64" name="url">
              <p ng-show="form.url.$invalid && !form.url.$pristine" class="help-block">Digite uma URL válida.</p>
            </div>

            <div class="form-group">
              <label>Página do Facebook</label>
              <input type="url" class="form-control" ng-model="enterprise.facebook_url" maxlength="128" name="facebook_url">
              <p ng-show="form.facebook_url.$invalid && !form.facebook_url.$pristine" class="help-block">Digite uma URL válida.</p>
            </div>

            <!--<div class="form-group">
              <label>Créditos disponíveis</label>
              <input type="text" class="form-control" ng-model="enterprise.credit" maxlength="64" disabled="disabled">
            </div>-->
            
            <div ng-show="enterprise.id">
              <div class="btn btn-success" ngf-select ng-model="files">Selecionar imagem</div><br><br>
              <img ngf-src="files[0]" ngf-default-src="" ng-src="../mydash/upload/enterprise/{{enterprise.img}}" ngf-accept="'image/*'" width="256">
            </div>
            
            <br>
            <h4><b>Endereço</b></h4>

            <!-- Endereço -->
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Código Postal</label>
                  <input type="text" class="form-control" ng-model="enterprise.postal" maxlength="16">
                </div>
              </div>
              <div class="col-xs-8">
                <div class="form-group">
                  <label>Logradouro <span class="required">*</span></label>
                  <input type="text" class="form-control" ng-model="enterprise.street" maxlength="128" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Número <span class="required">*</span></label>
                  <input type="text" class="form-control" ng-model="enterprise.number" maxlength="10" required>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Complemento</label>
                  <input type="text" class="form-control" ng-model="enterprise.complement" maxlength="16">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>País <span class="required">*</span></label>
                  <input type="text" class="form-control" ng-model="enterprise.country" maxlength="32" required>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Estado/Região/Província</label>
                  <input type="text" class="form-control" ng-model="enterprise.state" maxlength="32">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Cidade <span class="required">*</span></label>
                  <input type="text" class="form-control" ng-model="enterprise.city" maxlength="64" ng-blur="getCoordinates(enterprise)" required>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>Bairro</label>
                  <input type="text" class="form-control" ng-model="enterprise.district" maxlength="32">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Horário de Abertura</label>
                  <input type="text" class="form-control" ng-model="enterprise.time_initial" maxlength="5" mask='99:99'>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Horário de Fechamento</label>
                  <input type="text" class="form-control" ng-model="enterprise.time_final" maxlength="5" mask='99:99'>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="enterprise.latitude" maxlength="20" placeholder="Latitude">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="enterprise.longitude" maxlength="20" placeholder="Longitude">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-success" ng-click="getCoordinates(enterprise)">Buscar Coordenadas</button>
                  </span>   
                </div>
              </div>
            </div>
            
            <br>
            <h4><b>Combustíveis</b></h4>

            <!-- Combustíveis -->
            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasGasoline"> Vende Gasolina?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceGasoline" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasGasoline" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasGasolineLeaded"> Vende Gasolina Aditivada?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceGasolineLeaded" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasGasolineLeaded" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasGasolinePremium"> Vende Gasolina Premium?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceGasolinePremium" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasGasolinePremium" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasEthanol"> Vende Etanol?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceEthanol" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasEthanol" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasDiesel"> Vende Diesel?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceDiesel" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasDiesel" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasDieselS10"> Vende Diesel S10?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceDieselS10" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasDieselS10" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked="checked" ng-model="enterprise.hasNaturalGas"> Vende Gás Natural Veicular?
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Preço</label>
                  <input type="text" class="form-control" ng-model="enterprise.priceNaturalGas" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasNaturalGas" mask="9.999">
                </div>
              </div>
            </div>

          </div><!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Salvar</button>
          </div>

        </form>
      </div><!-- /.box -->

    </div><!--/.col (left) -->

  </div>   <!-- /.row -->
</section><!-- /.content -->