<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Seus Postos
    <small>Altere preços e detalhes facilmente neste painel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Início</a></li>
    <li class="active">Admin</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	
	<div ng-show="!enterprises">
		<p>Carregando as informações...</p>
	</div>

	<div class="row">
	    <div class="col-lg-3 col-xs-6" ng-repeat="enterprise in enterprises">
	      <!-- small box -->
	      <div class="small-box bg-olive">
	        <div class="inner">
	          <h4><b>{{enterprise.name}}</b></h4>
	          <img ng-src="images/{{enterprise.classification_image}}">
	          <a class="home-link" href="#/comments/{{enterprise.id}}"><p>{{enterprise.comments}} comentário(s)</p></a>
	          <br>
	          <p class="fuel-gasolina" ng-if="enterprise.hasGasoline == 1"><b>Gasolina : {{enterprise.priceGasoline}}</b></p>
	          <p class="fuel-gasolina" ng-if="enterprise.hasGasolineLeaded == 1"><b>Gasolina Adtv. : {{enterprise.priceGasolineLeaded}}</b></p>
	          <p class="fuel-gasolina" ng-if="enterprise.hasGasolinePremium == 1"><b>Gasolina Prm. : {{enterprise.priceGasolinePremium}}</b></p>
	          <p class="fuel-etanol"  ng-if="enterprise.hasEthanol == 1"><b>Etanol : {{enterprise.priceEthanol}}</b></p>
	          <p class="fuel-diesel" ng-if="enterprise.hasDiesel == 1"><b>Diesel : {{enterprise.priceDiesel}}</b></p>
	          <p class="fuel-diesel" ng-if="enterprise.hasDieselS10 == 1"><b>Diesel S10 : {{enterprise.priceDieselS10}}</b></p>
	          <p class="fuel-gnv" ng-if="enterprise.hasNaturalGas == 1"><b>GNV : {{enterprise.priceNaturalGas}}</b></p>
	        </div>
	        <div class="icon">
	          <a href="#/prices/{{enterprise.id}}"><i class="ion ion-ios-compose-outline icon-gray"></i></a>
	        </div>
	        
	        <!-- Mostra um link válido apenas se o usuário tive acesso -->
	        <a href="#/enterprise/{{enterprise.id}}" class="small-box-footer" ng-if="intern_user.type == 'ADMIN' || intern_user.type == 'EDITOR'">Alterar Posto <i class="fa fa-arrow-circle-right"></i></a>
			
			<a href="#/prices/{{enterprise.id}}" class="small-box-footer" ng-if="intern_user.type != 'ADMIN' && intern_user.type != 'EDITOR'">Modificar Preços <i class="fa fa-arrow-circle-right"></i></a>

	      </div>
	    </div><!-- ./col -->
    </div>
</section><!-- /.content -->