<section class="content-header">
  <h1>
    Formas de Pagamento de {{enterprise.name}}
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#/enterprise/{{enterprise.id}}">{{enterprise.name}}</a></li>
    <li class="active">Formas de Pagamento</li>
  </ol>
</section>

<!-- Listagem de Formas de Pagamento -->

<section  ng-show="enterprise.id">

  <section class="content-header">
    <h1>
      <small>Marque as formas de pagamento disponíveis nesse estabelecimento</small>
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box box-success">
          <div class="box-header">
          
            <div class="form-group">
              <input type="text" class="form-control" ng-model="search"  placeholder="Pesquisar formas de pagamento...">
            </div>

          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-striped data_table">
              <thead>
                <tr>
                  <th>Marcar</th>
                  <th>Logotipo</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td colspan="2" ng-show="loading">Carregando dados...</td>
                </tr>

                <tr class="table-line" ng-repeat="payment in payments_list | filter: search">
                  <td>
                    <input type="checkbox" ng-click="sync(bool, payment)" ng-model="bool" ng-checked="isChecked(payment.id)">
                  </td>
                  <td><img ng-src="../mydash/upload/payment/{{payment.img}}" width="32"></td>
                  <td>{{payment.name}}</td>
                </tr>
                
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="box-footer">
      <button type="submit" class="btn btn-success" ng-click="sendForm(enterprise, 'payments')">Salvar</button>
    </div>

  </section>

</section>