<section class="content-header">
  <h1>
    {{enterprise.name}}
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#/enterprise/{{enterprise.id}}">{{enterprise.name}}</a></li>
    <li class="active">Preços</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-success">
        <!-- form start -->
        <form role="form" name="form" novalidate ng-submit="sendForm(enterprise, 'prices')" class="css-form">
          <div class="box-body">
            
            <br>
            <h4><b>Combustíveis</b></h4>

            <!-- Combustíveis -->
            <div class="row" ng-if="enterprise.hasGasoline">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Preço da Gasolina</label>
                  <input type="text" class="form-control input-fuel input-gasolina" ng-model="enterprise.priceGasoline" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasGasoline" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row" ng-if="enterprise.hasGasolineLeaded">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Preço da Gasolina Aditivada</label>
                  <input type="text" class="form-control input-fuel input-gasolina" ng-model="enterprise.priceGasolineLeaded" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasGasolineLeaded" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row" ng-if="enterprise.hasGasolinePremium">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Preço da Gasolina Premium</label>
                  <input type="text" class="form-control input-fuel input-gasolina" ng-model="enterprise.priceGasolinePremium" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasGasolinePremium" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row" ng-if="enterprise.hasEthanol">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Preço do Etanol</label>
                  <input type="text" class="form-control input-fuel input-etanol" ng-model="enterprise.priceEthanol" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasEthanol" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row" ng-if="enterprise.hasDiesel">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Preço do Diesel</label>
                  <input type="text" class="form-control input-fuel input-diesel" ng-model="enterprise.priceDiesel" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasDiesel" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row" ng-if="enterprise.hasDieselS10">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Preço do Diesel S10</label>
                  <input type="text" class="form-control input-fuel input-diesel" ng-model="enterprise.priceDieselS10" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasDieselS10" mask="9.999">
                </div>
              </div>
            </div>

            <div class="row" ng-if="enterprise.hasNaturalGas">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Preço do Gás Natural</label>
                  <input type="text" class="form-control input-fuel input-gnv" ng-model="enterprise.priceNaturalGas" maxlength="5"
                  ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" ng-disabled="!enterprise.hasNaturalGas" mask="9.999">
                </div>
              </div>
            </div>

          </div><!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Salvar</button>
          </div>

        </form>
      </div><!-- /.box -->

    </div><!--/.col (left) -->

  </div>   <!-- /.row -->
</section><!-- /.content -->