<section class="content-header">
  <h1>
    Serviços de {{enterprise.name}}
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#/enterprise/{{enterprise.id}}">{{enterprise.name}}</a></li>
    <li class="active">Serviços</li>
  </ol>
</section>

<!-- Cadastro de serviços -->
<section ng-show="enterprise.id">

  <section class="content-header">
    <h1>
      <small>Cadastro de serviços específicos da empresa</small>
    </h1>
  </section>

  <section class="content" ng-show="service_mode == 'editing'">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-success">

          <!-- form start -->
          <form role="form" name="form2" novalidate ng-submit="sendService(service)" class="css-form">
            <div class="box-body">

              <div class="form-group">
                <label>Nome <span class="required">*</span></label>
                <input type="text" class="form-control" ng-model="service.name" maxlength="64" placeholder="Calibragem de pneu, Conveniência, Lavagem de Veículos, etc..." required>
              </div>

              <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control" rows="3" ng-model="service.description"></textarea>
              </div>

              <div ng-show="service.id">
                <div class="btn btn-success" ngf-select ng-model="files2">Selecionar imagem</div><br><br>
                <img ngf-src="files2[0]" ngf-default-src="" ng-src="../mydash/upload/service/{{service.img}}" ngf-accept="'image/*'" width="256">
                <p>OBS: A imagem não pode ser baixada de fontes como o Google, etc... Envia suas próprias imagens.</p>
              </div>

            </div><!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-success" ng-disabled="form2.$invalid">Salvar</button>
            </div>
          </form>
        </div><!-- /.box -->

      </div><!--/.col (left) -->

    </div>   <!-- /.row -->
  </section>

  <!-- Listagem de Serviços -->

  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box box-success">
          <div class="box-header">
            <div class="input-group input-group-sm">
              <span class="input-group-btn">
                <button class="btn btn-success btn-flat" type="button" ng-click="newService()"><b>+</b> Novo</button>
              </span>
              <input type="text" class="form-control" ng-model="search"  placeholder="Pesquisar serviços...">
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-striped data_table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td colspan="5" ng-show="loading">Carregando dados...</td>
                </tr>

                <tr class="table-line" ng-repeat="item in services | filter: search">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td align="center"><i class="fa fa-pencil-square-o my-button button-edit" ng-click="editService(item)"></i></td>
                  <td align="center"><i class="fa fa-trash my-button button-delete" ng-click="deleteService(item.id)"></i></td>
                </tr>
                
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div><!-- /.col -->
    </div><!-- /.row -->
  </section>

</section>