<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/device.js"></script>

  </head>
  <body ng-app="fuel">
    
    <ion-side-menus ng-controller="HomeController">
        
      <ion-side-menu-content drag-content="toggledrag">
        <ion-nav-bar class="bar-balanced">
          <ion-nav-back-button>
          </ion-nav-back-button>

          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
            </button>
          </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content> 
      
      <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-balanced">
          <h1 class="title">Olá <span ng-bind="local_user.name" style="border:none; background-color: rgb(55,225,95); color: #fff"></span></h1>
        </ion-header-bar>
        <ion-content has-header="true" style="background-color: rgb(130,246,152); color: #fff">
          <ul class="list">
            <li>
              <a class="item" menu-close nav-clear href="#/tab/stations" style="border:none; background-color: rgb(62,215,105); color: #fff">Postos</a>
            </li>
            <li>
              <a class="item" menu-close href="#/tab/map" style="border:none; background-color: rgb(79,216,118); color: #fff">Mapa</a>
            </li>
            <li>
              <a class="item" menu-close ng-click="about()" style="border:none; background-color: rgb(95,228,133); color: #fff">Sobre o Aplicativo</a>
            </li>
            <!--<li>
              <a class="item" menu-close ng-click="share()">Compartilhar</a>
            </li>-->
            <li>
              <a class="item" menu-close ng-if="local_user" ng-click="logout()" style="border:none; background-color: rgb(110,236,146); color: #fff">Logout</a>
            </li>
          </ul>
        </ion-content>
      </ion-side-menu>
        
    </ion-side-menus>
    
    <script src="js/plugins/requisition.js"></script>
    <script src="js/directives/directives.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/controllers/stationsControllers.js"></script>
    <script src="js/controllers/mapControllers.js"></script>
    <script src="lib/ionic-toast/src/ionic-toast.js"></script>
    <script src="lib/ionic-ratings/dist/ionic-ratings.min.js"></script>
    <script src="lib/requirejs/require.js"></script>
  </body>
</html>
