<section class="content">
  <div class="row">
  	<div class="col-md-4"></div>
    <!-- left column -->
    <div class="col-md-4">
      <!-- general form elements -->
      <div class="box box-success">
        <div class="box-header">
          <img src="images/logo_text3.png">
        </div><!-- /.box-header -->

        <form role="form" name="form" novalidate ng-submit="login(email, password)">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" name="email" class="form-control" placeholder="Digite o email" ng-model="email" maxlength="64" autofocus required autocomplete="on">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input type="password" name="password" class="form-control" placeholder="Digite a senha" ng-model="password" maxlength="20" required autocomplete="on">
            </div>
          </div><!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Login</button>
          </div>

        </form>

      </div><!-- /.box -->

    </div>

    <div class="col-md-4"></div>

  </div>   <!-- /.row -->
</section>

		
		