<!DOCTYPE html>
<html ng-app="admin">
  <head>
    <meta charset="UTF-8">
    <title>Administrator & Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="styles/font-awesome.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="styles/ionicons.min.css" rel="stylesheet" type="text/css" />-->
    <!-- jvectormap -->
    <link href="plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="dist/css/AdminLTE.css" rel="stylesheet" type="text/css" />

    <link href="dist/css/skins/skin-black-light.min.css" rel="stylesheet" type="text/css" />
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <link href="plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />

  </head>
  <body class="skin-black-light sidebar-mini" ng-controller="ApplicationController">
    
    <div class="wrapper">

      <header class="main-header" ng-show="isLogged">

        <!-- Logo -->
        <a href="#/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>EOT</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="images/logo_text3.png"></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Alternar navegação</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <img ng-if="intern_user.img" ng-src="../mydash/upload/user/{{intern_user.img}}" class="user-image">
                  <span class="hidden-xs">{{intern_user.name}} {{intern_user.last_name}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img ng-if="intern_user.img" ng-src="../mydash/upload/user/{{intern_user.img}}" class="img-circle">
                    <p>
                      {{intern_user.name}} {{intern_user.last_name}}
                    </p>
                  </li>
                  
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-right">
                      <a class="btn btn-default btn-flat" ng-click="logout()">Sair</a>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </div>

        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar" ng-show="isLogged">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          
          <div class="user-panel" ng-if="intern_user.img">
            <div class="pull-left image">
              <img ng-src="../mydash/upload/user/{{intern_user.img}}" class="img-circle">
            </div>
            <div class="pull-left info">
              <p>{{intern_user.name}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <a href="#/"><li class="header menu-header"><h4>Tela Inicial</h4></li></a>

            <li class="treeview" ng-repeat="enterprise in intern_user.enterprises" ng-class="{active: isItemShown(enterprise)}">
              <a ng-click="toggleItem(enterprise)">
                <i class="ion" ng-class="isItemShown(enterprise) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i> <span>{{enterprise.name}}</span>
              </a>
              <ul class="treeview-menu" ng-show="isItemShown(enterprise)">
                <li><a href="#/prices/{{enterprise.id}}"><i class="fa fa-circle-o"></i> Preços</a></li>
                <li><a href="#/enterprise/{{enterprise.id}}" ng-if="intern_user.type == 'ADMIN' || intern_user.type == 'EDITOR'"><i class="fa fa-circle-o"></i> Editar Dados</a></li>
                <li><a href="#/services/{{enterprise.id}}" ng-if="intern_user.type == 'ADMIN' || intern_user.type == 'EDITOR'"><i class="fa fa-circle-o"></i> Serviços</a></li>
                <li><a href="#/payments/{{enterprise.id}}" ng-if="intern_user.type == 'ADMIN' || intern_user.type == 'EDITOR'"><i class="fa fa-circle-o"></i> Formas de Pagamento</a></li>
                <li><a href="#/comments/{{enterprise.id}}" ng-if="intern_user.type == 'ADMIN' || intern_user.type == 'EDITOR'"><i class="fa fa-circle-o"></i> Comentários</a></li>
              </ul>
            </li>

            <li class="active treeview" ng-if="intern_user.type == 'ADMIN' || intern_user.type == 'EDITOR'">
            <!--<li class="active treeview">-->
              <a href="#">
                <i class="ion ion-asterisk"></i> <span>Outros</span>
              </a>
              <ul class="treeview-menu">
                <li ng-class="{ active: menuActive == 'users' }"><a href="#/users"><i class="fa fa-circle-o"></i> Controle de Usuários</a></li>
              </ul>
            </li>
            
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content 
      ng-class="(isLogged) ? 'content-wrapper' : 'content'"-->
      <div class="content-wrapper" ng-class="(isLogged) ? '' : 'no-margin'">

        <!-- Local onde as rotas são carregada -->
        <div ng-view=""></div>
      
      </div><!-- /.content-wrapper -->

      <footer class="main-footer" ng-show="isLogged">
        <div class="pull-right hidden-xs">
          <b>Versão</b> 1.0
        </div>
        <strong>"Enche o Tanque" - A melhor maneira de conhecerem seu posto!!</strong>
      </footer>
      
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class='control-sidebar-bg'></div>

    </div><!-- ./wrapper -->
    
    <!-- jQuery 2.1.4 -->
    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>

    <!-- jQuery UI 1.11.2 -->
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>

    <!-- Bootstrap 3.3.2 JS -->
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- FastClick -->
    <script src='plugins/fastclick/fastclick.min.js'></script>
    
    <!-- AdminLTE App -->
    <script src="dist/js/app.js" type="text/javascript"></script>

    <!-- Sparkline -->
    <script src="plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="plugins/chartjs/Chart.min.js" type="text/javascript"></script>
    
    <!---->
    <script src="plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="plugins/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    
    <!-- MomentJS -->
    <script src="plugins/moment/moment.min.js"></script>

    <!-- Angular 1.3.15 -->
    <script src="plugins/angular/angular.min.js"></script>
    <script src="plugins/ngMask/ngMask.min.js"></script>
    <script src="plugins/angular/angular-resource.min.js"></script>
    <script src="plugins/angular/angular-route.min.js"></script>
    
    <!-- Plugins externos -->
    <script src="plugins/angular/ng-file-upload/ng-file-upload-shim.min.js"></script> 
    <script src="plugins/angular/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="plugins/toastr/toastr.min.js"></script>
    
    <!-- Meus plugins -->
    <script src="js/plugins/pagination.js"></script>
    <script src="js/plugins/requisition.js"></script>
    <script src="js/plugins/utilities.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/controllers/homeControllers.js"></script>
    <script src="js/controllers/enterpriseControllers.js"></script>
    <script src="js/controllers/userControllers.js"></script>
  </body>
</html>